<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.luca.sabatini.appello">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Appello"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.luca.sabatini.appello.professor.Session"></activity>
        <activity android:name="com.luca.sabatini.appello.student.ConfermaPresenza" />
        <activity android:name="com.luca.sabatini.appello.student.RicercaAppelli" />
        <activity android:name=".student.ProfiloUtente"/>
        <activity android:name="com.luca.sabatini.appello.student.CameraActivity" />
        <!--
                PER MODIFICARE L'ACTIVITY DI INIZIO DEVI ANDARE NELLA CLASSE SplashScrenn
                E MODIFICARE IL SECONDO PARAMETRO DELL'INTENT
        -->
        <activity
            android:name="com.luca.sabatini.appello.professor.ProfessorMain"
            android:parentActivityName="com.luca.sabatini.appello.list.ListaCorsi" />
        <activity android:name="com.luca.sabatini.appello.login.ForgotPassword" />
        <activity
            android:name="com.luca.sabatini.appello.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.luca.sabatini.appello.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.luca.sabatini.appello.list.ListaCorsi" />

        <service
            android:name="com.luca.sabatini.appello.professor.FirebaseService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>